body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(101, 98, 85);  color: white;
  padding: 8px 50px;
  font-size: 1.25rem;
  align-items: baseline;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav div {
  display: flex;
}

.nav div > p{
  margin-left: 10px;
}

.exchangeform {
  display: flex;
}

.exchangeform div {
  margin: 1rem auto;
}

.footer {
  width: 100%;
  height: 4rem;
  text-align: center;
  background-color: rgb(101, 98, 85);
  color: white;
  position: fixed;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: small;
}